

#shape-container {
    width: 1000px;
    height: 1000px;border: 1px solid black ;
    background-color:rgb(177,212,235);
    position: relative;
    overflow: hidden;
}

#container {
    display: flex;
    justify-content:center;
    align-items:center;
    flex-direction: row;
}

#info-container {
    height: 1000px;
    width: 500px;
    background-color:rgb(210,183,220);
    border: 1px solid black;
}